<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:thomasagoldenberg@gmail.com">Email</a>
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">LinkedIn</a>
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> <a href="https://github.com/tgoldenberg">Github</a>
  </p>
</div>
<hr class="top-content-line"/>
<div class="container content-holder cover-letter-content">
  <p>August 27, 2015</p>
  <p>Dear XXX,</p>

  <p>
  My name is Tom Goldenberg and I am very interested in your JavaScript developer opportunity.
  I am currently seeking a position where I can blend my education, work experience, and passion.
  My personal career goal is to create software and web applications that enrich the lives of
  others and connect people together.
  </p>

  </p>
  Some of the skills I bring to the table are:
  <p>
    <ul>
      <li class="bullets">Excellence at object oriented design</li>
      <li class="bullets">Ability to write tests and follow principles of TDD / BDD</li>
      <li class="bullets">Experience with modern JavaScript frameworks - i.e.
        <a href="http://facebook.github.io/react/">ReactJS</a>,
        <a href="https://www.meteor.com/">MeteorJS</a>,
        <a href="https://angularjs.org/">AngularJS</a></li>
      <li class="bullets">Ability to write clean, readable, and testable code</li>
      <li class="bullets">Experience with relational (SQL,
        <a href="http://www.postgresql.org/">Postgres</a>) and non-relational
        (<a href="https://www.mongodb.com/">MongoDB</a>) databases</li>
      <li class="bullets">Experience with clean Git workflow and Agile methodology</li>
      <li class="bullets">Leadership and professionalism</li>
      <li class="bullets">Strong meta-cognitive learning skills</li>
      <li class="bullets">Highly communicative and a team player</li>
    </ul>

  <p>
  I bring a unique blend of work experience that includes a Bachelors in Cultural Studies, a Concentration
  in South Asian languages, 4 years as a University Sanskrit instructor, and extensive training in web development.
  This experience will benefit your team because I not only have the educational and technical
  foundation to successfully perform within this role but also the ability to lead and work
  dynamically in teams. My linguistic passion is not limited to spoken languages, but applies
  to programming languages as well. Although I began programming in <b>C</b>, <b>Ruby</b> was my first love
  for coding, and now I am passionate about the world of <b>JavaScript</b> development.
  </p>

  <p>
  Since December of 2014, I have been involved in many exciting projects.
  As a final project at the coding school <a href="https://www.devbootcamp.com">Dev Bootcamp</a>, my team designed an
  <a href="https://speakitlanguages.com">online language exchange</a> utilizing
  <b>webRTC</b> video conferencing. I also collaborated with a Fordham University business student
  to make
  <a href="https://sotracks-1-1.herokuapp.com/">SoTracks</a>, an event management tool built on
  Ruby on Rails and ReactJS. Finally,
  I created the app
  <a href="https://github.com/tgoldenberg/">ChessMentor</a>, a Rails app that connects chess masters to students through
  online chess games, video conferencing, and hosted payments through
  <a href="https://www.stripe.com/connect">Stripe Connect</a>.
  </p>

  <p>
  I am the perfect fit for the JavaScript developer opportunity not only because I have the
  experience, but I understand the value ABC Company is adding to its clients and the tech
  community overall.  Please feel free to reach me at thomasagoldenberg@gmail.com or
  (203) 507-1105 for further questions. I look forward to connecting further with you.
  </p>
  <img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" />
  <img class="header-images" src='<%= wicked_pdf_image_tag("signature-2")%>'></img>


  <p>
  Sincerely,
  </p>
  <p>
  Tom Goldenberg
  </p>

</div>
