<div class="container">
  <h4>Tom Goldenberg</h4>
  <hr/>
</div>
<div class="container">
  <div class="col-xs-8">
    <span class="glyphicon glyphicon-user"></span>
    <p>Summary</p>
  </div>
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-envelope"></span>
    <p>Skills</p>
  </div>
</div>
