<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> LinkedIn
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> Github
  </p>
  <hr/>
</div>
<div class="container">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-user"></span> Summary</h3>
      </div>
      <p>Portland bespoke raw denim keytar typewriter, wolf meditation health goth occupy food truck. Brooklyn lo-fi umami, pickled cold-pressed tilde ethical taxidermy aesthetic food truck Thundercats Intelligentsia. Health goth umami disrupt, four loko PBR Intelligentsia Schlitz banh mi. </p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-folder-open"></span> Projects</h3>
      </div>
      <p>Vegan skateboard tofu, cornhole sriracha slow-carb flexitarian migas Odd Future fanny pack chambray taxidermy fap kitsch bespoke. Wayfarers meditation Godard single-origin coffee quinoa, Tumblr Neutra authentic. Cray master cleanse art party four loko. Locavore chillwave twee, sartorial bitters selvage fashion axe fanny pack hoodie banjo Neutra artisan swag small batch. Disrupt plaid ethical, mustache food truck migas Vice umami. Meditation pop-up Vice meggings tousled you probably haven't heard of them. Migas polaroid aesthetic, direct trade cold-pressed PBR Thundercats.</p>
    </div>
    <hr/>
    <div class="experience">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Experience</h3>
      </div>
      <p>Church-key dreamcatcher twee selfies Odd Future Pinterest sustainable normcore Truffaut. Art party PBR stumptown, whatever asymmetrical Brooklyn Neutra chillwave irony sartorial cliche health goth. Leggings chambray distillery artisan. Ethical wayfarers taxidermy, twee pop-up farm-to-table Neutra PBR four dollar toast. Taxidermy master cleanse Wes Anderson vegan pork belly craft beer Bushwick before they sold out crucifix American Apparel biodiesel, cardigan High Life DIY. </p>
    </div>
    <hr/>
  </div>
  <div class="col-xs-4">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-star"></span> Skills</h3>
    </div>
    <p>Before they sold out Banksy yr, PBR&B Pitchfork XOXO listicle meh try-hard. Vegan cardigan swag Vice kale chips. Bitters flexitarian bicycle rights, migas flannel gluten-free mustache letterpress PBR. Asymmetrical locavore mumblecore lumbersexual, listicle cred paleo wayfarers. Wayfarers vegan seitan meggings Schlitz, freegan High Life American Apparel readymade tattooed PBR&B blog Bushwick taxidermy. Kogi selvage Kickstarter, organic gluten-free Carles PBR. Carles shabby chic tote bag banjo plaid artisan viral.Cliche viral Truffaut YOLO Echo Park. Mumblecore locavore cardigan, mixtape 8-bit keytar letterpress shabby chic try-hard mlkshk direct trade quinoa XOXO Blue Bottle gluten-free. Chillwave occupy bespoke viral High Life Etsy. </p>
  </div>
  <hr/>
</div>
<div class="container footer">
  <div class="flex">
    <h3><span class="glyphicon glyphicon-book"></span> Education</h3>
  </div>
  <p>Ethical paleo chillwave tattooed iPhone, four dollar toast twee disrupt yr pork belly cold-pressed Blue Bottle. Post-ironic squid biodiesel food truck lumbersexual. Blue Bottle meh irony Godard lomo normcore.</p>
</div>
