<div class="container">
  <div style="position: absolute; right: 0;">
    <a href="https://www.linkedin.com/in/tom-goldenberg-67054b88">
      <img src="http://www.alisonnagasue.com/img/linkedin.png" style="width: 25px; color: blue;"/>
    </a>
    <a href="https://github.com/tgoldenberg">
      <img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/github-circled-alt2.svg" style="width: 25px; color: blue;"/>
    </a>
    <a href="https://twitter.com/tomgoldenberg">
      <img src="http://www.attendly.com/wp-content/themes/attendly2/img/icon-twitter.svg" style="width: 25px; color: blue;"/>
    </a>

  </div>
  <div class="title-holder">
    <h2 class="title">Tom Goldenberg</h2>
    <h5>Mobile and Web Engineer</h5>
  </div>
  <div style="display: flex;">
    <div style="display: flex;">
      <p style="text-align: left; font-size: .9em;">
        <b>Address: </b> 435 E. Market St., Long Beach, NY
        <b> C: </b>(203) 507-1105
        <b> Email: </b><a href="mailto:thomasagoldenberg@gmail.com">thomasagoldenberg@gmail.com</a>
      </p>
    </div>
  </div>
  <!-- <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:thomasagoldenberg@gmail.com">Email</a>
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">LinkedIn</a>
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> <a href="https://github.com/tgoldenberg">Github</a>
  </p> -->
</div>
<hr class="top-content-line"/>
<div class="container content-holder">
  <div class="col-xs-12">
    <div class="experience">
      <div class="flex-grow">
        <h3 style="margin-top: -8px;">
          <img src="http://uxrepo.com/static/icon-sets/ionicons/svg/briefcase.svg" style="width: 25px; margin-top: -8px;"/> Experience</h3>
      </div>
      <h4><span style="width: 800px;"><b>Agolo</b> <a href="http://www.agolo.com"><img src="https://worldvectorlogo.com/logos/agolo-com.svg" style="width: 60px; margin-top: -5px; margin-left: 10px;"/></a></span> <span class="years-worked-first" style="float: right; width: 120px;">Nov. 2015 - present</span></h4>
      <p class="project-subtitle">Mobile and Web Engineer</p>
      <ul >
        <li class="bullets">Rebuilt entire website with <i>ReactJS</i>, <i>React Router</i>, and <i>MeteorJS</i>.</li>
        <li class="bullets">Implemented complex feed summarization creation.</li>
        <li class="bullets">Helped ensure robust server environment for scaling website.</li>
      </ul>
      <h4><span style="width: 800px;"><b>Sous</b><a href="http://sousapp.com/"><img src="http://www.sousapp.com/files/uploads/blacklogo2.png" style="width: 45px; margin-left: 15px; margin-top: -3px;"/></a></span> <span class="years-worked-first" style="float: right; width: 120px;">Oct. - Nov. 2015</span></h4>
      <p class="project-subtitle" style="margin-top: -14px;">Mobile Engineer - Consultant</p>
      <ul >
        <li class="bullets">Contributed core features of iOS app such as real-time chat, profile controls, and online purchases.</li>
        <li class="bullets">Configured backend server configuration for live data updating on mobile app.</li>
      </ul>
      <h4><span style="width: 800px;"><b>Nudger</b></span><span class="years-worked-first" style="float: right; width: 120px;">Aug. - Sep. 2015</span></h4>
      <p class="project-subtitle">Web Engineer - Consultant</p>
      <ul>
        <li class="bullets">Developed call-center automation prototype in one week period.</li>
        <li class="bullets">Designed and implemented internal libraries for utility methods.</li>
      </ul>
    </div>
    <hr class="bottom-row-divider" id="bottom-hr" style="width: 100%;"/>
    <div class="projects">
      <div class="flex-grow">
        <h3 style="margin-top: -8px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/folder.svg" style="width: 30px; margin-top: -8px;"/> <span style="margin-left: -8px;">&nbsp;Projects</span></h3>
      </div>
      <h4><b>Bhagavad Gita App</b> <span class="website-links"<a href="http://www.bhagavadgitaapp.com">website</a> </span></h4>
      <p class="project-subtitle">iPhone app for the Bhagavad Gita</p>
      <ul>
        <li class="bullets">Built highly professional iOS app in two months.</li>
        <li class="bullets">Grew app within 2 weeks to #2 ranking in specific category.</li>
      </ul>
      <h4><b>Speakit Languages</b> <span class="website-links"><a href="https://speakit-languageapp.herokuapp.com/">website</a> </span></h4>
      <p class="project-subtitle">Online language exchange</p>
      <ul>
        <li class="bullets">Designed online video-conferencing tool for language learners.</li>
      </ul>
    </div>
  </div>
</div>


<hr class="bottom-row-divider" id="bottom-hr"/>
<div class="container footer">
  <div class="col-xs-12">
    <div class="flex">
      <h3 style="margin-top: 10px;" class="bottom-row-divider"><img src="http://uxrepo.com/static/icon-sets/maki/svg/college.svg" style="width: 28px; margin-top: -8px;"/> Education</h3>
    </div>
    <ul>
      <p style="margin-left: -38px;" class="bullets"><b>Dev Bootcamp</b> <span class="date" style='font-weight: 300; font-size: 12px;'>Mar. - Aug. 2015</span></p>
      <p style="margin-left: -38px;" class="bullets education-subtitle" style="width: 90%;">
        19-week immersive full-stack web development training focused on computer science fundamentals.
      </p>
      <p style="margin-left: -38px;" class="bullets"><b>Empire State College</b></p>
      <p style="margin-left: -38px;" class="bullets education-subtitle">B.A. Cultural Studies</p>
    </ul>
  </div>
</div>
<hr class="bottom-row-divider" id="bottom-hr"/>
<div class="container footer">
  <div class="col-xs-12">
    <div class="flex">
      <h3 style="margin-top: 10px;" class="bottom-row-divider"><img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/fire.svg" style="width: 22px; margin-top: -11px; margin-right: 3px;"/> Interests and Certifications</h3>
    </div>
    <ul>
      <li class="bullets">Coursera certification for <a href="https://www.coursera.org/learn/machine-learning/">Machine Learning</a> from Stanford University.</li>
      <li class="bullets">Meetup organizer for <a href="http://www.meetup.com/React-Native-NYC/">React Native NYC</a>, focused on mobile development.</li>
      <li class="bullets">Frequent speaker at JavaScript-related meetups and events - <a href="https://www.youtube.com/watch?v=-Pu2oiv0mVA">recent presentation</a>.</li>
    </ul>
  </div>
</div>
