<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> LinkedIn
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> Github
  </p>
</div>
<hr class="top-content-line"/>
<div class="container">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-user"></span> Summary</h3>
      </div>
      <p>Ruby and JavaScript programmer with experience with full-stack development, mobile-first design, advanced JavaScript development, and database management.</p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-folder-open"></span> Projects</h3>
      </div>
      <h4>SpeakIt</h4>
      <ul>
        <li>Point</li>
        <li>Point</li>
        <li>Point</li>
      </ul>
      <h4>Sotracks</h4>
      <ul>
        <li>Point</li>
        <li>Point</li>
        <li>Point</li>
      </ul>
      <h4>ChessMentor</h4>
      <ul>
        <li>Point</li>
        <li>Point</li>
      </ul>
    </div>
    <hr/>
    <div class="experience">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Experience</h3>
      </div>
      <p>Church-key dreamcatcher twee selfies Odd Future Pinterest sustainable normcore Truffaut. Art party PBR stumptown, whatever asymmetrical Brooklyn Neutra chillwave irony sartorial cliche health goth. Leggings chambray distillery artisan. Ethical wayfarers taxidermy, twee pop-up farm-to-table Neutra PBR four dollar toast. Taxidermy master cleanse Wes Anderson vegan pork belly craft beer Bushwick before they sold out crucifix American Apparel biodiesel, cardigan High Life DIY. </p>
    </div>
    <hr/>
  </div>
  <div class="col-xs-4">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-star"></span> Skills</h3>
    </div>
    <p><b>Languages: </b></p>
    <p>Ruby, JavaScript</p>
    <p><b>Web Frameworks: </b></p>
    <p>Ruby on Rails, Sinatra</p>
    <p><b>Testing Frameworks: </b></p>
    <p>Rspec, Cucumber, Capybara, Jasmine</p>
    <p><b>Database: </b></p>
    <p>SQL, ActiveRecord</p>
    <p><b>JavaScript Frameworks</b></p>
    <p>ReactJS, EmberJS, AngularJS, React Native</p>
    <p><b>Web Development Tools: </b></p>
    <p>OmniAuth, ActionMailer, WebRTC, Pusher, I18n, Stripe, D3, AJAX</p>
    <div class="flex">
      <h3><span class="glyphicon glyphicon-asterisk"></span> Other Interests</h3>
    </div>
    <ul>
      <li class="interests">Non-profit representative at the United Nations</li>
      <li class="interests">Polyglot with fluency in 5 languages, including Sanskrit, Spanish, and Malayalam</li>
      <li class="interests">Accomplished jazz pianist</li>
    </ul>
  </div>
  <hr/>
</div>
<div class="container footer">
  <div class="flex">
    <h3><span class="glyphicon glyphicon-book"></span> Education</h3>
  </div>
    <ul>
      <li>B.A. Cultural Studies, S.U.N.Y. Empire State College</li>
      <li>Full-stack development training, Dev Bootcamp, NYC</li>
    </ul>
</div>
