<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:thomasagoldenberg@gmail.com">Email</a>
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">LinkedIn</a>
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> <a href="https://github.com/tgoldenberg">Github</a>
  </p>
</div>
<hr class="top-content-line"/>
<div class="container content-holder">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-user"></span> Summary</h3>
      </div>
      <p>
        Web and mobile engineer with specialized experience in real-time communication and updating.
        Active member in the MeteorJS and ReactJS community. Able to build web, Android, and iOS apps fast and with professionalism.
      </p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-folder-open"></span> &nbsp;Projects</h3>
      </div>
      <h4><b>RewardU</b> <span class="website-links"<a href="https://sotracks-1-1.herokuapp.com/#/">website</a> | <a href="https://github.com/tgoldenberg/uReward">source</a></span></h4>
      <p class="project-subtitle">iOS app for task organization and rewards</p>
      <ul>
        <li class="bullets">Built native app with React Native with animation, fluid design, and local storage</li>
      </ul>
      <h4><b>SpeakIt</b> <span class="website-links"><a href="https://speakitlanguages.com">website</a> | <a href="https://github.com/tgoldenberg/Speak-It">source</a></span></h4>
      <p class="project-subtitle">Online language-exchange for schools</p>
      <ul>
        <li class="bullets">Designed peer-to-peer real-time video conferencing tool</li>
        <li class="bullets">Is in plans to pilot at New Haven Community College</li>
      </ul>
      <h4><b>ChessMentor</b> <span class="website-links"><a href="http://chessmentor.meteor.com">website</a> | <a href="https://github.com/tgoldenberg/chess-server-mt">source</a></span></h4>
      <p class="project-subtitle">Social network for chess players and mentors</p>
      <ul>
        <li class="bullets">Interactive multi-player chess game with ReactJS and MeteorJS</li>
        <li class="bullets">Used as part of a presentation at MeteorNYC meetup</li>
      </ul>

    </div>
    <hr/>
    <div class="experience">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Experience</h3>
      </div>
      <h4><b>Sous (AngelPad company)</b> <span class="years-worked-first">October 2015</span></h4>
      <p class="project-subtitle">iOS and Web Developer - consultant</p>

    </div>
  </div>
  <div class="col-xs-4 skill-section">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-star"></span> Skills</h3>
    </div>
    <p><b>Languages (1 yr): </b></p>
    <p>JavaScript, Ruby, C, Java</p>
    <p><b>Front-End Libraries (8 mth)</b></p>
    <p>ReactJS, MeteorJS, AngularJS, EmberJS, D3</p>
    <p><b>Web Frameworks: </b></p>
    <p>MeteorJS (8 mth), Rails (1 yr)</p>
    <p><b>Database: (1 yr)</b></p>
    <p>PostgreSQL, MongoDB</p>
    <p><b>Mobile Technologies (6 mth)</b></p>
    <p>React Native (iOS and Android)</p>
    <hr/>
    <div class="flex interest-holder">
      <h3><span class="glyphicon glyphicon-asterisk"></span> Other Interests</h3>
    </div>
    <ul>
      <li class="interests">Volunteer programming teacher for ScriptEd</li>
      <li class="interests">Non-profit representative at the United Nations</li>
      <li class="interests">Polyglot with interest in language learning (6 languages so far)</li>
    </ul>
  </div>
</div>

<ul  style='margin-left: 27px;'>
  <li class="bullets">Moved database from Rails to Meteor and implemented live chat and updates for mobile app</li>
  <li class="bullets">Designed UI components for iOS such as side-swiping, profile organization, etc. </li>
</ul>
<h4 style='margin-left: 27px;'><b>Nudger (SAP company)</b> &nbsp;&nbsp;&nbsp;<span class="years-worked-second">Aug. - Sep. 2015</span></h4>
<p class="project-subtitle" style='margin-left: 27px;'>Web Developer - consultant</p>
<ul style='margin-left: 27px;'>
  <li class="bullets" style='margin-top: 10px;'>Developed prototype for automated call service with MeteorJS and ReactJS</li>
  <li class="bullets">Created a Meteor package for alert system on task management tool</li>
</ul>
<br/>
<hr class="bottom-row-divider" id="bottom-hr"/>
<div class="container footer">
  <div class="col-xs-12">
    <div class="flex">
      <h3 class="bottom-row-divider"><span class="glyphicon glyphicon-book"></span> Education</h3>
    </div>
    <ul>
      <p class="bullets"><b>Dev Bootcamp</b> <span class="date" style='font-weight: 300; font-size: 12px;'>Mar. - Aug. 2015</span></p>
      <p class="bullets education-subtitle">
        Fully immersive web development programming with emphasis on pair programming, soft skills, and CS fundamentals.
      </p>
      <p class="bullets"><b>Empire State College</b></p>
      <p class="bullets education-subtitle">B.A. Cultural Studies</p>
    </ul>
  </div>
</div>
