<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:thomasagoldenberg@gmail.com">Email</a>
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">LinkedIn</a>
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> <a href="https://github.com/tgoldenberg">Github</a>
  </p>
</div>
<hr class="top-content-line"/>
<div class="container content-holder">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-user"></span> Summary</h3>
      </div>
      <p>JavaScript and Ruby programmer experienced with full-stack development, mobile-first design, and real-time, single-page app development. Conversant in ReactJS and other advanced front-end technologies.</p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-folder-open"></span> &nbsp;Projects</h3>
      </div>
      <h4><b>SpeakIt</b> <span class="website-links"><a href="http://speakit-languageapp.herokuapp.com/">website</a> | <a href="https://github.com/tgoldenberg/Speak-It">source</a></span></h4>
      <p class="project-subtitle"><i>Language-sharing Rails app utilizing WebRTC and Pusher</i></p>
      <ul>
        <li class="bullets">Designed front-end experience for video conferencing.</li>
        <li class="bullets">Delegated tasks and responsibilities as team lead.</li>
        <li class="bullets">Provided support with extensive controller and ReactJS testing.</li>
      </ul>
      <h4><b>Sotracks</b> <span class="website-links"<a href="https://sotracks-1-1.herokuapp.com/#/">website</a> | <a href="https://github.com/tgoldenberg/Event-Tracker">source</a></span></h4>
      <p class="project-subtitle"><i>Single-page Rails and ReactJS app for organizing local events</i></p>
      <ul>
        <li class="bullets">Managed event information from several APIs (NYTimes, etc.).</li>
        <li class="bullets">Collaborated with business student to develop features and UX.</li>
      </ul>
      <h4><b>ChessMentor</b> <span class="website-links"><a href="https://github.com/tgoldenberg/ChessMentor">source</a></span></h4>
      <p class="project-subtitle"><i>Social Rails app with messaging, video chat, and hosted payments</i></p>
      <ul>
        <li class="bullets">Designed chess game with video chat / messaging.</li>
      </ul>
    </div>
    <hr/>
    <div class="experience">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Professional Experience</h3>
      </div>
      <h4><b>International Peace Institute</b></h4>
      <p class="project-subtitle"><i>Events Coordinator</i></p>
      <ul>
        <li class="bullets">Planned high-level events and managed extensive database of UN attendees and representatives.</li>
      </ul>
      <h4><b>Amrita University</b></h4>
      <p class="project-subtitle"><i>Sanskrit Grammar and Literature Instructor</i></p>
      <ul>
        <li class="bullets">Designed curriculum and provided instruction for international Sanskrit intensive.</li>
        <li class="bullets">Developed and led online Sanskrit program.</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 skill-section">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-star"></span> Skills</h3>
    </div>
    <p><b>Languages: </b></p>
    <p>JavaScript, Ruby</p>
    <p><b>JavaScript Libraries</b></p>
    <p>ReactJS, jQuery</p>
    <p><b>Web Frameworks: </b></p>
    <p>Ruby on Rails, Sinatra</p>
    <p><b>Testing Frameworks: </b></p>
    <p>Rspec, Cucumber, Capybara, Jasmine</p>
    <p><b>Real-Time Technologies</b></p>
    <p>WebRTC, Pusher, AJAX</p>
    <p><b>Database: </b></p>
    <p>SQL, ActiveRecord</p>
    <p><b>Ongoing Learning:</b></p>
    <p>React Native, AngularJS, iOS development</p>
    <hr/>
    <div class="flex interest-holder">
      <h3><span class="glyphicon glyphicon-asterisk"></span> Other Interests</h3>
    </div>
    <ul>
      <li class="interests">Non-profit representative at the United Nations</li>
      <li class="interests">Polyglot with fluency in 5 languages, including Sanskrit, Spanish, and Malayalam</li>
      <li class="interests">Accomplished jazz pianist</li>
    </ul>
  </div>
</div>
<hr class="bottom-row-divider" id="bottom-hr"/>
<div class="container footer">
  <div class="col-xs-12">
    <div class="flex">
      <h3 class="bottom-row-divider"><span class="glyphicon glyphicon-book"></span> Education</h3>
    </div>
    <ul>
      <p class="bullets"><b>Dev Bootcamp</b></p>
      <p class="bullets education-subtitle"><i>Dev Bootcamp is a 19-week hands-on learning program that teaches you the skills necessary to become a junior full-stack software engineer.</i></p>
      <p class="bullets"><b>Empire State College</b></p>
      <p class="bullets education-subtitle"><i>B.A. Cultural Studies, '12</i></p>
    </ul>
  </div>
</div>
