<div class="container">
  <h4>Tom Goldenberg</h4>
  <hr/>
</div>
<div class="container">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-container">
        <span class="glyphicon glyphicon-user"></span>
        <h2>Summary</h2>
      </div>
      <p>Portland bespoke raw denim keytar typewriter, wolf meditation health goth occupy food truck. Brooklyn lo-fi umami, pickled cold-pressed tilde ethical taxidermy aesthetic food truck Thundercats Intelligentsia. Health goth umami disrupt, four loko PBR Intelligentsia Schlitz banh mi. </p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex">
        <span class="glyphicon glyphicon-envelope"></span>
        <p>Projects</p>
      </div>
    </div>
    <hr/>
    <div class="experience">
      <div class="flex">
        <span class="glyphicon glyphicon-user"></span>
        <p>Experience</p>
      </div>
    </div>
    <hr/>
  </div>
  <div class="col-xs-4">
    <div class="flex">
      <span class="glyphicon glyphicon-lock"></span>
      <p>Skills</p>
    </div>
  </div>
  <hr/>
</div>
<div class="container footer">
  <div class="flex">
    <span class="glyphicon glyphicon-user"></span>
    <p>Education</p>
  </div>
</div>
