<div class="container">
  <div class="title-holder">
    <span class="title">Tom Goldenberg</span>
  </div>
  <p class="title-contact-info">
    435 E. Market St., Long Beach, NY 11561
    <b>C:</b> (203) 507-1105
    &nbsp;<span class="glyphicon glyphicon-envelope header-images" id="envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Email</a>
    &nbsp;<img class="header-images" id="linked-in" src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no/photo.jpg" alt="LinkedIn" /> <a href="#">LinkedIn</a>
    &nbsp;<img class="header-images" id="github" src="http://samuelcolvin.github.io/JuliaByExample/static/github.png" alt="Github"/> <a href="#">Github</a>
  </p>
</div>
<hr class="top-content-line"/>
<div class="container content-holder">
  <div class="col-xs-8">
    <div class="summary">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-user"></span> Summary</h3>
      </div>
      <p>Ruby and JavaScript programmer with experience with full-stack development, mobile-first design, advanced JavaScript development, and database management.</p>
    </div>
    <hr/>
    <div class="projects">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-folder-open"></span> &nbsp;Projects</h3>
      </div>
      <h4><b>SpeakIt</b> <span class="website-links"><a href="#">website</a> | <a href="#">source</a></span></h4>
      <p class="project-subtitle"><i>Real-time language-learning web application</i></p>
      <ul>
        <li class="bullets">Implemented real-time video conferencing using WebRTC</li>
        <li class="bullets">Managed implementation strategy as team lead</li>
        <li class="bullets">Designed real-time call functionality with Pusher</li>
      </ul>
      <h4><b>Sotracks</b> <span class="website-links"<a href="#">website</a> | <a href="#">source</a></span></h4>
      <p class="project-subtitle"><i>Event consolidation application</i></p>
      <ul>
        <li class="bullets">Designed fluid single-page application with React-Router</li>
        <li class="bullets">Managed flow of API data from multiple sources</li>
      </ul>
      <h4><b>ChessMentor</b> <span class="website-links"><a href="#">website</a> | <a href="#">source</a></span></h4>
      <p class="project-subtitle"><i>Hosting service for professional chess instruction</i></p>
      <ul>
        <li class="bullets">Designed real-time chess game with text and video chat.</li>
      </ul>
    </div>
    <hr/>
    <div class="experience">
      <div class="flex-grow">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Professional Experience</h3>
      </div>
      <h4><b>International Peace Institute</b></h4>
      <p class="project-subtitle"><i>Special Events Coordinator</i></p>
      <ul>
        <li class="bullets">Plan and execute high-level events for UN representatives</li>
      </ul>
      <h4><b>Amrita University</b></h4>
      <p class="project-subtitle"><i>Sanskrit Instructor and Distance Learning Instructor</i></p>
      <ul>
        <li class="bullets">Design and instruct curriculum for international Sanskrit retreat.</li>
        <li class="bullets">Lead online Sanskrit learning program to learners in Mannheim, Paris, and Barcelona.</li>
      </ul>
      <h4><b>Embracing the World</b></h4>
      <p class="project-subtitle"><i>Humanitarian and Disaster Relief Volunteer</i></p>
      <ul>
        <li class="bullets">Collaborate with local villages and NGOs to offer rehabilitation support after the 2006 Asian Tsunami.</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4 skill-section">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-star"></span> Skills</h3>
    </div>
    <p><b>Languages: </b></p>
    <p>Ruby, JavaScript</p>
    <p><b>Web Frameworks: </b></p>
    <p>Ruby on Rails, Sinatra</p>
    <p><b>Testing Frameworks: </b></p>
    <p>Rspec, Cucumber, Capybara, Jasmine</p>
    <p><b>Database: </b></p>
    <p>SQL, ActiveRecord</p>
    <p><b>JavaScript Frameworks</b></p>
    <p>ReactJS, EmberJS, AngularJS, React Native</p>
    <p><b>Web Development Tools: </b></p>
    <p>OmniAuth, ActionMailer, WebRTC, Pusher, I18n, Stripe, D3, AJAX</p>
    <hr/>
    <div class="flex interest-holder">
      <h3><span class="glyphicon glyphicon-asterisk"></span> Other Interests</h3>
    </div>
    <ul>
      <li class="interests">Non-profit representative at the United Nations</li>
      <li class="interests">Polyglot with fluency in 5 languages, including Sanskrit, Spanish, and Malayalam</li>
      <li class="interests">Accomplished jazz pianist</li>
    </ul>
  </div>
</div>
<hr/>
<div class="container footer">
  <div class="col-xs-12">
    <div class="flex">
      <h3><span class="glyphicon glyphicon-book"></span> Education</h3>
    </div>
    <ul>
      <li class="bullets"><b>Web Development Program</b>, Dev Bootcamp, NYC</li>
      <li class="bullets"><b>B.A. Cultural Studies</b>, S.U.N.Y. Empire State College</li>
    </ul>
  </div>
</div>
