h1 {
  color: red;
  font-size: 60px;
}
h1, h2, h3, h4, h5, p, a, span {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}
.title-holder {
  letter-spacing: 1px;
}
#linked-in {
  width: 40px;
  height: 35px;
  margin-bottom: 5px;
}
#github {
  width: 33px;
  height: 33px;
  margin-bottom: 5px;
}
#envelope {
  font-size: 25px;
  position: absolute;
  top: 43px;
}
.title {
  font-weight: bold;
  margin-right: 30%;
  line-height: 1.4;
  font-size: 24px;
  text-align: center;
}
.title-contact-info {
  margin-top: 5px;
  line-height: .8;
}
.container {
  text-align: center;
}

.col-xs-8, .col-xs-4, .footer  {
  text-align: left;
}
.glyphicon {
  font-size: 20px;
  color: black;
}
.col-xs-4 {
  height: 750px;
  background: #f7f7f7;
}
.summary {
  height: 140px;
}
.projects {
  height: 250px;
}
.experience {
  height: 240px;
}
.flex-container {
  display: flex;
}
.header-images {
  font-size: 15px;
  color: black;
}
