<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link rel="stylesheet" href="http://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body>

<%= yield %>

</body>
</html>
